<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Blogging platform</title>
    <link rel="stylesheet" th:href="@{/css/project.css}" />
  </head>

  <body>
    <section>
      <div class="sidenav">
        <a th:href="@{'/user/userblogs/0'}"
          ><button type="button" class="btn btn-dark">YOUR BLOGS</button>
        </a>
        <a th:href="@{/user/qna/0}"
          ><button type="button" class="btn btn-dark">QnA</button>
        </a>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#modelId"
          style="margin-left: 16px"
        >
          <!-- <a th:href="@{/user/add-blog}"> -->
          <!-- <button type="button" class="btn btn-dark"> -->
          WRITE BLOG
          <!-- </button> -->
        </button>
        <a th:href="@{'/logout'}"
          ><button type="button" class="btn btn-dark">LOGOUT</button>
        </a>
      </div>
      <div>
        <div th:replace="normal/fragments/formfragment :: modal"></div>
      </div>
      <div class="feed" style="text-align: -webkit-center">
        <div
          style="
            margin: 30px;
            text-align: start;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100vh;
            width: 1200px;
            float: right;
            padding-bottom: 70px;
          "
        >
          <!-- <div th:if="${blogs.empty}">
            <span>No Blogs Available</span>
          </div> -->
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
            th:if="${session.message}"
            th:classappend="${session.message.type}"
            style="padding: 50px; background-color: black; width: fit-content"
          >
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <strong th:text="${session.message.content}"></strong>
            <th:block
              th:text="${#session.removeAttribute('message')}"
            ></th:block>
          </div>
          <th:block th:each="blog : ${blogs}">
            <div
              style="
                margin-right: 10px;
                padding: 16px 16px 4px 16px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
                border-radius: 5px;
                background-color: whitesmoke;
                float: right;
                width: -webkit-fill-available;
                margin-bottom: 25px;
              "
            >
              <div
                style="font-size: 25px; font-weight: 800"
                th:text="${blog.title}"
              ></div>
              <p>
                <i class="fas fa-user-circle" style="font-size: 25px"></i>
                <strong>Author: </strong><a th:text="${blog.author}"></a>
                <div style="font-size: 18px">
                  <span>
                    <span class="badge badge-secondary"
                      >Created : <span th:text="${blog.date}"></span
                    ></span>
                    <span class="badge badge-secondary"
                      >Topic : <span th:text="${blog.topic}"></span
                    ></span>
                    <span
                      style="text-transform: capitalize"
                      class="badge badge-secondary"
                    ></span>
                  </span>
                </div>
              </p>
              <!-- th:utext for html parsing -->
              <div style="padding: 5px 0px 32px 13px">
                <h6 th:remove="tag" th:utext="${blog.content}"></h6>
              </div>

              <button
                style="
                  box-shadow: 1px 1px 11px #888888;

                  width: 54px;
                  border: 1px solid black;
                  background-color: transparent;
                  padding: 2px;
                  border-radius: 15px;
                  height: fit-content;
                "
                class="btn btn-light likebutton"
              >
                <svg width="24px" height="24px" viewBox="0 0 24 24">
                  <g
                    id="upvote"
                    class="icon_svg-stroke icon_svg-fill arrowicon"
                    stroke-width="1.5"
                    stroke="#666"
                    fill="none"
                    fill-rule="evenodd"
                    stroke-linejoin="round"
                  >
                    <polygon
                      points="12 4 3 15 9 15 9 20 15 20 15 15 21 15"
                    ></polygon>
                  </g>
                </svg>
                <span th:text="${blog.likes}"></span>
              </button>
            </div>
          </th:block>
          <!--  pagination part -->
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li th:if="${currentPage != 0}" class="page-item">
                <a
                  th:href="@{'/user/feed/'+${currentPage-1}}"
                  class="page-link"
                  href="#"
                  >Previous</a
                >
              </li>

              <li
                th:classappend="${currentPage==i-1?'active':''}"
                th:each="i : ${#numbers.sequence(1,totalPages)}"
                class="page-item"
              >
                <a th:href="@{'/user/feed/'+${i-1}}" class="page-link" href="#"
                  ><span th:text="${i}"></span
                ></a>
              </li>

              <li th:if="${currentPage+1 != totalPages}" class="page-item">
                <a
                  th:href="@{'/user/feed/'+${currentPage+1}}"
                  class="page-link"
                  href="#"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </body>
</html>
