<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Blogging platform</title>
    <link rel="stylesheet" th:href="@{/css/project.css}" />
  </head>

  <body>
    <section>
      <div class="sidenav">
        <a th:href="@{'/user/userblogs'}"
          ><button type="button" class="btn btn-dark">YOUR BLOGS</button>
        </a>
        <a th:href="@{/user/qna}"
          ><button type="button" class="btn btn-dark">QnA</button>
        </a>
        <a th:href="@{/user/add-blog}">
          <button type="button" class="btn btn-dark">WRITE BLOG</button>
        </a>
        <a th:href="@{'/logout'}"
          ><button type="button" class="btn btn-dark">LOGOUT</button>
        </a>
      </div>

      <div class="feed" style="text-align: -webkit-center">
        <div
          style="
            margin: 30px;
            text-align: start;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100vh;
            width: 1200px;
            float: right;
            padding-bottom: 70px;
          "
        >
          <!-- <div th:if="${blogs.empty}">
            <span>No Blogs Available</span>
          </div> -->
          <th:block th:each="blog : ${blogs}">
            <div
              style="
                margin-right: 10px;
                padding: 16px 16px 4px 16px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
                border-radius: 5px;
                background-color: whitesmoke;
                float: right;
                width: -webkit-fill-available;
                margin-bottom: 25px;
              "
            >
              <div
                style="font-size: 25px; font-weight: 800"
                th:text="${blog.title}"
              ></div>
              <p>
                <strong>Author: </strong><a th:text="${blog.author}"></a>
                <div style="font-size: 18px">
                  <span>
                    <span class="badge badge-secondary"
                      >Created : <span th:text="${blog.date}"></span
                    ></span>
                    <span class="badge badge-secondary"
                      >Topic : <span th:text="${blog.topic}"></span
                    ></span>
                    <span
                      style="text-transform: capitalize"
                      class="badge badge-secondary"
                    ></span>
                  </span>
                </div>
              </p>
              <!-- th:utext for html parsing -->
              <h6 th:remove="tag" th:utext="${blog.content}"></h6>
            </div>
            <!-- <div><span th:text="${blog.title}"> Title </span></div>
            <div><span th:text="${blog.author}"> Author </span></div> -->
          </th:block>
        </div>
      </div>
    </section>
  </body>
</html>
