<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Blogging platform</title>
    <link rel="stylesheet" th:href="@{/css/project.css}" />
  </head>

  <body>
    <section>
      <div class="sidenav">
        <a th:href="@{/user/userquestions/0}"
          ><button
            style="height: fit-content"
            type="button"
            class="btn btn-dark"
          >
            ASKED QUESTIONS
          </button>
        </a>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#modelId"
          style="margin-left: 16px"
        >
          ADD QUESTION
        </button>

        <a th:href="@{/user/feed/0}"
          ><button type="button" class="btn btn-dark">HOME</button>
        </a>
        <a href="/logout"
          ><button type="button" class="btn btn-dark">LOGOUT</button>
        </a>
      </div>
      <div th:replace="normal/fragments/questionfragment :: modal"></div>
      <div class="feed" style="text-align: -webkit-center">
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
          th:if="${session.message}"
          th:classappend="${session.message.type}"
          style="padding: 50px; background-color: black; width: fit-content"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <strong th:text="${session.message.content}"></strong>
          <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>
        <div
          style="
            margin: 30px;
            text-align: start;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100vh;
            width: 1200px;
            float: right;
            padding-bottom: 70px;
          "
        >
          <!-- <div th:if="${blogs.empty}">
          <span>No Blogs Available</span>
        </div> -->
          <th:block th:each="question : ${questions}">
            <div
              style="
                margin-right: 10px;
                padding: 16px 16px 4px 16px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
                border-radius: 5px;
                background-color: whitesmoke;
                float: right;
                width: -webkit-fill-available;
                margin-bottom: 25px;
              "
            >
              <div
                style="font-size: 25px; font-weight: 800"
                th:text="${question.title}"
              ></div>
              <p>
                <span
                  ><i class="fas fa-user-circle" style="font-size: 25px"></i
                ></span>
                <strong>Asker: </strong><a th:text="${question.asker}"></a>
                <div style="font-size: 18px">
                  <span>
                    <span class="badge badge-secondary"
                      >Created : <span th:text="${question.date}"></span
                    ></span>
                    <span class="badge badge-secondary"
                      >Topic : <span th:text="${question.topic}"></span
                    ></span>
                    <span
                      style="text-transform: capitalize"
                      class="badge badge-secondary"
                    ></span>
                  </span>
                  <div
                    style="
                      font-size: 17px;
                      font-weight: 800;
                      padding: 12px 0px 0px 9px;
                    "
                  >
                    <a
                      class="answers"
                      th:href="@{answer/{id}(id=(${question.questionId}))}"
                      style="color: #334e33"
                    >
                      <span
                        style="margin-right: 2px"
                        th:if="${question.getAnswers().isEmpty()}"
                        >Not yet answered</span
                      ><span
                        style="margin-right: 2px"
                        th:if="${!question.getAnswers().isEmpty()}"
                        ><span th:text="${question.getAnswers().size()}"></span
                        ><span style="margin-left: 8px" th:text="Answer"></span
                      ></span>
                    </a>
                  </div>
                  <a th:href="@{answer/{id}(id=(${question.questionId}))}">
                    <div style="padding: 11px 0px 0px 5px">
                      <button style="padding: 5px; border-radius: 35px">
                        <i class="fas fa-pen-fancy"></i> Answer
                      </button>
                    </div></a
                  >
                </div>
              </p>
            </div>
          </th:block>
        </div>
      </div>
    </section>
  </body>
</html>
