<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Blogging platform</title>
    <link rel="stylesheet" th:href="@{/css/project.css}" />
  </head>

  <body>
    <section>
      <div class="sidenav">
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#modelId"
          style="margin-left: 16px"
        >
          WRITE BLOG
        </button>

        <a th:href="@{/user/feed/0}"
          ><button type="button" class="btn btn-dark">HOME</button>
        </a>
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#likemodelId"
          style="margin-left: 16px"
        >
          LIKES
        </button>

        <a th:href="@{/user/profile}"
          ><button type="button" class="btn btn-dark">PROFILE</button>
        </a>
        <a href="/logout"
          ><button type="button" class="btn btn-dark">LOGOUT</button>
        </a>
      </div>
      <div>
        <div th:replace="normal/fragments/formfragment :: modal"></div>
      </div>
      <div>
        <div th:replace="normal/fragments/likesfragment :: likeModal"></div>
      </div>
      <div class="feed">
        <div
          style="
            margin: 30px;
            text-align: start;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100vh;
            width: 1200px;
            float: right;
            padding-bottom: 70px;
          "
        >
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
            th:if="${session.message}"
            th:classappend="${session.message.type}"
            style="
              padding: 20px;
              background-color: #334;
              border-radius: 17px;
              text-align: center;
              width: auto;
            "
          >
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <strong th:text="${session.message.content}"></strong>
            <th:block
              th:text="${#session.removeAttribute('message')}"
            ></th:block>
          </div>
          <th:block th:each="blog : ${blogs}">
            <div>
              <div
                style="
                  margin-right: 10px;
                  padding: 16px 16px 4px 16px;
                  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
                  border-radius: 5px;
                  background-color: whitesmoke;
                  float: right;
                  width: -webkit-fill-available;
                  margin-bottom: 25px;
                "
              >
                <div style="display: flex">
                  <div
                    style="font-size: 25px; font-weight: 800"
                    th:text="${blog.title}"
                  ></div>
                  <div style="margin-left: auto">
                    <div class="btn-group open">
                      <a
                        style="width: fit-content; background: transparent"
                        class="btn btn-light dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                      >
                        <span
                          class="fa fa-ellipsis-h"
                          title="Toggle dropdown menu"
                        ></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li style="margin-left: 13px">
                          <a
                            style="color: black"
                            th:href="@{edit-blog/{id}(id=(${blog.blogId}))}"
                            ><i class="fa fa-pen"></i> Edit</a
                          >
                        </li>
                        <li style="margin-left: 13px">
                          <a
                            style="color: black"
                            th:href="@{delete-blog/{id}(id=(${blog.blogId}))}"
                            ><i class="fa fa-trash"></i> Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="fas fa-user-circle" style="font-size: 25px"></i>
                  <strong>Author: </strong><a th:text="${blog.author}"></a>
                  <div style="font-size: 18px">
                    <span>
                      <span class="badge badge-secondary"
                        >Created : <span th:text="${blog.date}"></span
                      ></span>
                      <span class="badge badge-secondary"
                        >Topic : <span th:text="${blog.topic}"></span
                      ></span>
                      <span
                        style="text-transform: capitalize"
                        class="badge badge-secondary"
                      ></span>
                    </span>
                  </div>
                </p>
                <!-- th:utext for html parsing -->
                <h6 th:remove="tag" th:utext="${blog.content}"></h6>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </section>
  </body>
</html>
