<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Blogging platform</title>
    <link rel="stylesheet" th:href="@{/css/project.css}" />
  </head>

  <body>
    <section>
      <div class="sidenav">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#modelId"
          style="margin-left: 16px"
        >
          WRITE BLOG
        </button>

        <a th:href="@{/user/feed}"
          ><button type="button" class="btn btn-dark">HOME</button>
        </a>
        <a href="#"
          ><button type="button" class="btn btn-dark">LIKES</button>
        </a>
        <a th:href="@{/user/profile}"
          ><button type="button" class="btn btn-dark">PROFILE</button>
        </a>
        <a href="/logout"
          ><button type="button" class="btn btn-dark">LOGOUT</button>
        </a>
      </div>
      <div th:replace="normal/fragments/modalfragment :: modal"></div>

      <div class="feed">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </section>
  </body>
</html>
