<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="baseForAuth::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Blogging platform</title>
    <link rel="stylesheet" th:href="@{/css/project.css}" />
  </head>

  <body>
    <section>
      <script>
        var check = function () {
          if (
            document.getElementById("password").value ==
            document.getElementById("confirmPassword").value
          ) {
            document.getElementById("message").style.color = "green";
            document.getElementById("message").innerHTML = "";
          } else {
            document.getElementById("message").style.color = "red";
            document.getElementById("message").innerHTML =
              "password not matching";
          }
        };
      </script>

      <div align="center">
        <div id="box">
          <table border="2" cellspacing="0" style="width: 100%">
            <tr>
              <td
                colspan="2"
                align="center"
                class="lables"
                style="font-size: 30px"
              >
                <b>Registration Panel</b>
              </td>
            </tr>
          </table>
          <form
            novalidate
            method="post"
            action=""
            th:action="@{/do_register}"
            th:object="${user}"
          >
            <table
              border="0"
              cellpadding="5"
              cellspacing="15"
              style="border-collapse: unset !important"
            >
              <tr>
                <td class="lables">First Name:</td>
                <td>
                  <input
                    type="text"
                    name="firstName"
                    id="firstName"
                    class="form-control"
                    minlength="2"
                    maxlength="20"
                    th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid':''}"
                    placeholder=" First Name"
                    th:value="${user.firstName}"
                    th:field="*{firstName}"
                  />
                  <div
                    class="invalid-feedback"
                    th:each="e: ${#fields.errors('firstName')}"
                    th:text="${e}"
                  ></div>
                </td>
              </tr>
              <tr>
                <td class="lables">Last Name:</td>
                <td>
                  <input
                    type="text"
                    name="lastName"
                    id="lastName"
                    class="form-control"
                    placeholder=" Last Name"
                    size="25"
                    th:value="${user.lastName}"
                    th:field="*{lastName}"
                  />
                </td>
              </tr>
              <tr>
                <td class="lables">Email:</td>

                <td>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}"
                    placeholder="Enter Email"
                    size="25"
                    title="Enter Email"
                    th:value="${user.email}"
                    th:field="*{email}"
                  />
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <span
                    style="font-size: 12.8px"
                    class="error text-danger"
                    th:each="err :
                        ${#fields.errors('email')}"
                    th:text="${err}"
                  ></span>
                </td>
              </tr>

              <tr>
                <td class="lables">Password:</td>
                <td>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('*') ? 'is-invalid':''}"
                    placeholder="Enter Password"
                    size="25"
                    title="Enter Password"
                    required
                    minlength="8"
                    maxlength="10"
                    th:field="*{password}"
                    onkeyup="check();"
                  />
                </td>
              </tr>

              <tr>
                <td class="lables">Confirm Password:</td>
                <td>
                  <input
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('*') ? 'is-invalid':''}"
                    placeholder="Confirm Password"
                    size="25"
                    title="Confirm Password"
                    minlength="8"
                    maxlength="10"
                    th:field="*{confirmPassword}"
                    onkeyup="check();"
                  />
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <span id="message"></span>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <input
                    type="checkbox"
                    name="agreement"
                    id="agreement"
                  /><span>
                    I have read and agree to the
                    <a href="#"> Terms and Conditions</a></span
                  >
                </td>
              </tr>

              <tr>
                <td align="center" colspan="2">
                  <input type="submit" value="SIGN-UP" />
                </td>
              </tr>

              <tr>
                <td align="center" colspan="2">
                  Already registered ? <a href="/login" class="links">LOGIN</a>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
      <footer>
        <div
          th:if="${session.message}"
          th:classappend="${session.message.type}"
          class="alert"
        >
          <p th:text="${session.message.content}"></p>
          <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>
      </footer>
    </section>
  </body>
</html>
