<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- Modal -->
    <div th:fragment="modal">
      <div
        class="modal fade"
        id="modelId"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modelTitleId"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div style="width: 680px" class="modal-content">
            <div class="modal-header">
              <div><h5 style="text-align: center">WRITE BLOG</h5></div>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form
                  th:object="${blog}"
                  method="POST"
                  th:action="@{/user/process-blog}"
                >
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input
                      type="text"
                      name="title"
                      id="title"
                      class="form-control"
                      placeholder="Blog Title"
                      aria-describedby="helpId"
                    />
                    <!-- <small id="helpId" class="text-muted">Help text</small> -->
                  </div>
                  <div class="form-group">
                    <label for="topic">Topic</label>
                    <input
                      type="text"
                      name="topic"
                      id="topic"
                      class="form-control"
                      placeholder="Topic"
                      aria-describedby="helpId"
                    />
                    <small id="helpId" class="text-muted"
                      >What your Blog is About</small
                    >
                  </div>
                  <div class="form-group">
                    <label for="date">Date</label>
                    <input
                      type="text"
                      class="form-control"
                      name="date"
                      id="dateid"
                      aria-describedby="helpId"
                      placeholder="Date"
                    />
                  </div>
                  <!--  Image  -->
                  <!-- <div class="form-group">
                    <label for="customFile">Image</label>
                    <div class="custom-file">
                      <label
                        style="margin-bottom: 10px"
                        class="custom-file-label"
                        for="customFile"
                        >Choose Image...</label
                      >
                      <input
                        type="file"
                        class="custom-file-input"
                        id="customFile"
                        name="image"
                      />
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label for="content">Write Here</label>
                    <textarea
                      style="
                        width: 600px;
                        min-height: 100px;
                        overflow: hidden;
                        background-color: white;
                      "
                      name="content"
                      id="content"
                    ></textarea>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(".alert").alert();
      </script>
      <script
        src="http://js.nicedit.com/nicEdit-latest.js"
        type="text/javascript"
      ></script>
      <script src="src/nicSelect/nicSelect.js" type="text/javascript"></script>

      <script type="text/javascript">
        bkLib.onDomLoaded(function () {
          new nicEditor({
            buttonList: [
              "ul",
              "ol",
              "bold",
              "italic",
              "underline",
              "strikeThrough",
              "subscript",
              "superscript",
              "html",
              "quoteblock",
              "left",
              "center",
              "right",
            ],
          }).panelInstance("content");
        });
      </script>

      <script>
        let today = new Date();
        let formatted_date =
          today.getDate() +
          "-" +
          (today.getMonth() + 1) +
          "-" +
          today.getFullYear();
        document.querySelector("#dateid").value = formatted_date;
      </script>
      <script>
        $("#exampleModal").on("show.bs.modal", (event) => {
          var button = $(event.relatedTarget);
          var modal = $(this);
          // Use above variables to manipulate the DOM
        });
      </script>
    </div>
  </body>
</html>
