<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- Modal -->
    <div th:fragment="likeModal">
      <div
        class="modal fade"
        id="likemodelId"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modelTitleId"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div
              class="modal-header"
              style="align-self: center; padding: 16px 0px 10px 0px"
            >
              <h5 class="modal-title">Likes</h5>
            </div>
            <div class="modal-body">
              <div th:each="blog : ${blogs}" class="container-fluid">
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <span th:text="${blog.title}"></span>
                    <span
                      class="badge badge-secondary badge-pill"
                      th:text="${blog.likes}"
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
